


/* Tables */

table {
  width: 100%;
}

table.style1 {
  width: 100%;
}

  table.style1 tbody tr {
    border-top: solid 1px #E5E5E5;
  }

  table.style1 tbody tr:first-child {
    border-top: 0;
  }

  table.style1 td {
    padding: 0.75em 1em 0.75em 1em;
  }

  table.style1 th {
    text-align: left;
    font-weight: bold;
    padding: 0.75em 1em 0.75em 1em;
  }

  table.style1 thead {
    background: #878787;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
  }

  table.style1 tfoot {
    background: #F0F0F0;
    border-top: solid 2px #E5E5E5;
  }

  table.style1 tbody {
  }



        table.style1 thead {
          font-size: 0.85em;
          letter-spacing: 2px;
        }
