// Breakpoint Variables
$breakpoint-to-ems: true;

// Media query variables.
$mobile:  0;
$tablet:  740px;
$normal:  960px;
$wide:    1280px;


// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1.5em;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

// $grids: 4;
// $grids: add-grid(12 at $tab);

$grids: 12;
$gutters: 1/3;

// $grids: add-grid(6 at 500px);
// $grids: add-grid(12 at 700px);
// $grids: add-grid(2 8 2 at 900px);
// $grids: add-grid(1 3 5 7 9 at 1100px);






