
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,700|Raleway:500,700);


/**
 * BASE-TYPOGRAPHY
 */
html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.3125;
  color: $text-color;
  font-weight: 300;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/**
 * STYLES
 */
em, i {
  font-style: italic;
  font-weight: 400;
}

strong, b {
  font-style: normal;
  font-weight: 700;
}


/**
 * HEADINGS
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 700;

  @include rhythm(0, 0, 0, 0.2);

  text-transform: uppercase;
  color: $primary-color;

  // Ligature support.
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: $primary-color;
  }

  @include transition(font-size 0.3s ease-out);
}

// Header sizes.
h1 {
  @include font-size(42px);
}

h2 {
  @include font-size(30px);
}

h3 {
  @include font-size(24px);
}

h4 {
  @include font-size(20px);
}

h5 {
  @include font-size(18px);
}

h5 {
  @include font-size(16px);
}

// Header other properties.
h1 {
  line-height: 1em;
}

h2 {
  color: $dark-grey;
}

h3 {
  color: lighten(#5A5A5C, 20%);
}

h6 {
  color: #5A5A5C;
}

/**
 * PARAGRAPHS
 */
p,
%p {
  margin: 0;
  @include rhythm(0, 0, 0, 1);
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * QUOTES
 */
blockquote {
  @extend %p;
  @include rhythm(0, 1, 1, 1);
  padding: 0 1.5em;

  @include rhythm-borders(1px);
  @include apply-side-rhythm-border(left, 10px);
  font-style: italic;
  color: $primary-color;

  p {
    margin: 0;
  }
}

q {
  font-style: italic;
}

/**
 * MARKS
 */
mark,
.marker {
  text-decoration: none;
  padding: 0.1em 0.5em;
  background: lighten($blue, 20%);
  color: #fff;
  @include font-size(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}


