{#
/**
 * @file
 * Page template for the Twigtastic theme
 */
#}
{% set text_with_whitespace = ' space on each side ' %}

<div class="container">
<pre>
  {%- if true -%}
    This is                   the test
  {%- endif -%}
  {{- text_with_whitespace -}}
</pre>

<pre>
{%- spaceless %}
  <ul>
    <li>Orange</li>
    <li>Green</li>
    <li>Indigo</li>
  </ul>
{% endspaceless %}
</pre>

</div>{# Whitespace EOF newline hack(off) #}
