/*********************************************************************************/
/* Container                                                                     */
/*********************************************************************************/

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  /* Modifiers */
  &.small {
    max-width: 900px;
  }

  &.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
  }
}

/*********************************************************************************/
/* Grid
/*********************************************************************************/

/* Rows */
.row {
  @extend %pie-clearfix;
}

/* Cells */
.span4 {
  @include float-span(4);
  &:last-child {
    @include float-span(4, 'last');
  }
}
.span6 {
  @include float-span(6);
  &:last-child {
    @include float-span(6, 'last');
  }
}
.span8 {
  @include float-span(8);
  &:last-child {
    @include float-span(8, 'last');
  }
}


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
  background: #f0f0f0;
}

/* Sections/Articles */
section,
article {
  margin-bottom: 3em;

  & > *:last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/*********************************************************************************/
/* Section/Article Types                                                         */
/*********************************************************************************/


  .is-excerpt .date {
    background: #878787;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
  }


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/



.l-banner-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #fff;
  text-align: center;
  border-top: solid 2px #e5e5e5;
  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5, inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

  .l-banner-wrapper .inner {
    background: image-url('banner.jpg');
    background-size: cover;
  }

  .l-banner-wrapper p {
    text-align: center;
  }

.l-features-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
  text-align: center;
}

  .l-features-wrapper .actions {
    margin-top: 1.25em;
  }

.l-main-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
}

.l-footer-wrapper {
  position: relative;
  overflow: hidden;
  border-top: solid 2px #e5e5e5;
  background: #f0f0f0;
}

  .l-footer-wrapper form input.text,
  .l-footer-wrapper form select,
  .l-footer-wrapper form textarea {
    background: #f7f7f7;
    &:focus {
      background: #fff;
    }
  }

  .l-footer-wrapper h2 {
    text-align: center;
  }

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

.l-header {
  padding: ($vert-spacing-unit * 3) 0 $vert-spacing-unit;

  p {
    margin: 2.5em 0 0 0;
    font-size: 0.85em;
    letter-spacing: 3px;
  }

  position: relative;
  background: #fff;
  text-align: center;

  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;


  h1 {
    @include font-size(60px);
    color: #ed786a;
    text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
    a {
      border: 0;
    }
  }

  p {
    text-transform: uppercase;
    font-weight: 400;
    color: #888;
  }
}

.site-name {
  margin: 0.5em 0;
}


/*********************************************************************************/
/* Features                                                                      */
/*********************************************************************************/

.l-features {}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

.l-banner {
  position: relative;
  text-transform: uppercase;
}

  .l-banner p {
    font-weight: 400;
  }

  .l-banner strong {
    color: inherit;
  }

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

  .l-content > section,
  .l-content > article {
    border-top: solid 2px #e5e5e5;
    box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
  }

    .l-content > section:first-child,
    .l-content > article:first-child {
      border-top: 0;
      box-shadow: none;
    }

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
  .l-sidebar > section,
  .l-sidebar > article {
    border-top: solid 2px #e5e5e5;
    box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
  }

    .l-sidebar > section:first-child,
    .l-sidebar > article:first-child {
      border-top: 0;
      box-shadow: none;
    }

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.l-copyright {
  border-top: solid 2px #e5e5e5;
  text-align: center;
}

/*********************************************************************************/
/* Section/Article Types                                                         */
/*********************************************************************************/


.no-sidebar .is-post > header {
  text-align: center;
}

  .is-excerpt .date {
    display: inline-block;
    font-size: 0.85em;
    letter-spacing: 2px;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0 0 2.5em 0;
  }

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

.l-features-wrapper {
  padding: 6em 0 6em 0;
}

.l-banner-wrapper {
  padding: 3em 0 3em 0;
}

.l-main-wrapper {
  padding: 6em 0 6em 0;
}

.l-footer-wrapper {
  padding: 6em 0 8em 0;
}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

.l-banner {
  padding: 10em 0 10em 0;


  p {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: 4px;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 141px;
    margin-top: -70px;
    background: url('../svg/bracket.svg');
    opacity: 0.15;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
    @include scaleX(-1);
  }
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

.l-content > section,
.l-content > article {
  margin: 5em 0 0 0;
  padding: 5em 0 0 0;
  &:first-child {
    margin: 0;
    padding: 0;
  }
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

.l-sidebar > section,
.l-sidebar > article {
  margin: 5em 0 0 0;
  padding: 5em 0 0 0;
  &:first-child {
    margin: 0;
    padding: 0;
  }
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.l-copyright {
  margin-top: 6em;
  padding-top: 4em;
}
